Repository joao-vitor-felix/club-clothing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts --fix, npx prettier --write, npm test, eslint --ext .tsx --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --ext .ts --fix", "npx prettier --write", "npm test"],
  "*.tsx": ["eslint --ext .tsx --fix", "npx prettier --write", "npm test"]
}

test: added test to CategoryDetails
  src/components/CategoryDetails/CategoryDetails.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

test: added test to Categories
  src/components/Categories/Categories.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

test: added test to CategoriesPreview
  src/components/CategoriesPreview/CategoriesPreview.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

chore: prevent redux logger to run in production
  src/store/store.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

test: added SignIn tests
  src/pages/SignIn/SignIn.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

test: added SignUp tests
  src/pages/SignUp/SignUp.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

chore: added netlify redirect
  public/_redirects
  public/vite.svg
Due: none

feat: added aria-label to CheckoutItem buttons
  src/components/CheckoutItem/CheckoutItem.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

test: added tests to CheckoutItem
  src/components/CheckoutItem/CheckoutItem.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

feat: added total price to Checkout
  src/pages/Checkout/Checkout.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

chore: added plugin in order to use node env variables syntax
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

test: added tests to Checkout
  src/pages/Checkout/Checkout.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

test: added Button tests
  src/components/Button/Button.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

style: small changes inside Button styles
  src/components/Button/Button.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

refactor: changed aria label text inside CheckoutItem
  src/components/CheckoutItem/CheckoutItem.test.tsx
  src/components/CheckoutItem/CheckoutItem.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

refactor: changed aria label text inside CartItem
  src/components/Cart/components/CartItem/CartItem.test.tsx
  src/components/Cart/components/CartItem/CartItem.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

feat: added netlify serverless function in order to create stripe payment sessions
  .eslintignore
  .gitignore
  netlify/functions/create-checkout-session.js
  package-lock.json
  package.json
  src/pages/Checkout/Checkout.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

test: fixed wrong label text to align to CartItem aria label
  src/components/Cart/Cart.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

style: removed unnecessary console logs
  src/pages/Checkout/Checkout.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

refactor: changed label text from ProductItem button
  src/components/ProductItem/ProductItem.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

style: added responsiveness to Categories
  src/components/Categories/Categories.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to CategoryItem
  src/components/Categories/components/CategoryItem/CategoryItem.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to CategoryPreview
  src/components/CategoriesPreview/components/CategoryPreview/CategoryPreview.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to CategoryDetails
  src/components/CategoryDetails/CategoryDetails.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to Navigation
  src/components/Navigation/Navigation.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to SignIn and SignUp
  src/pages/SignIn/SignIn.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to ProductItem
  src/components/ProductItem/ProductItem.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to Cart
  src/components/Cart/Cart.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to CartItem
  src/components/Cart/components/CartItem/CartItem.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to Checkout
  src/pages/Checkout/Checkout.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

style: added responsiveness to CheckoutItem
  src/components/CheckoutItem/CheckoutItem.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

feat: changed logo inside Navigation
  src/components/Navigation/Navigation.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

test: added e2e testing the buy product flux
  .eslintrc.json
  cypress.config.ts
  cypress/e2e/buy-product.test.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/utils/env.config.ts
  tsconfig.json
Due: eslint --ext .ts --fix, npx prettier --write, npm test

refactor: update ProductItem test to get the button through label text inside
  src/components/ProductItem/ProductItem.test.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

docs: added README
  README.md
Due: none

docs: fixed demo gif
  README.md
Due: none

chore: removed unused files
  src/hooks/useCartContext.ts
  src/hooks/useCategoryContext.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

chore: changed serverless function extension to fit into module requirements
  netlify/functions/create-checkout-session.cjs
Due: none

feat: added useDocumentTitle hook inside CategoriesDetails, CategoriesPreview and Checkout
  src/components/CategoriesPreview/CategoriesPreview.tsx
  src/components/CategoryDetails/CategoryDetails.tsx
  src/pages/Checkout/Checkout.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

feat: added favicon
  index.html
  public/bag.svg
Due: none
