Repository joao-vitor-felix/club-clothing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts --fix, npx prettier --write, npm test, eslint --ext .tsx --fix

.lintstagedrc.json:

{
  "*.ts": ["eslint --ext .ts --fix", "npx prettier --write", "npm test"],
  "*.tsx": ["eslint --ext .tsx --fix", "npx prettier --write", "npm test"]
}

chore: changed e2e script name
  README.md
  package.json
Due: none

perf: added memo to CartItem and CheckoutItem
  .eslintrc.json
  src/components/Cart/components/CartItem/CartItem.tsx
  src/components/CheckoutItem/CheckoutItem.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

perf: added lazy loading to the routes
  src/App.tsx
Due: npx prettier --write, npm test, eslint --ext .tsx --fix

docs: updated readme
  README.md
Due: none

fix: fixed product name size based on name length inside `ProductItem`
  src/components/ProductItem/ProductItem.styles.ts
  src/components/ProductItem/ProductItem.tsx
Due: eslint --ext .ts --fix, npx prettier --write, npm test, eslint --ext .tsx --fix

feat: added visual feedback to cart actions
  src/store/cart/cart.slice.ts
Due: eslint --ext .ts --fix, npx prettier --write, npm test

docs: update README
  README.md
Due: none
