Repository joao-vitor-felix/club-clothing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

.lintstagedrc.json:

{
    "*.ts": ["eslint --ext .ts --fix", "git add ."],
    "*.tsx": ["eslint --ext .tsx --fix", "git add ."]
}

chore: added commit linter setup
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

chore: added react router
  package-lock.json
  package.json
Due: none

chore: added react-icons
  package-lock.json
  package.json
Due: none

feat: added font to index.html
  .eslintrc.json
  index.html
Due: none

feat: added Theme and Global Styles
  src/GlobalStyles.ts
  src/Theme.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

feat: added Header component
  src/App.tsx
  src/assets/react.svg
  src/components/Header.styles.ts
  src/components/Header.tsx
  src/main.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

refactor: changed component name from Header to Navigation
  src/components/Header.tsx
  src/components/Navigation/Navigation.styles.ts
  src/components/Navigation/Navigation.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

fix: fixed application height
  src/GlobalStyles.ts
Due: eslint --ext .ts --fix, git add .

feat: added Home page
  package.json
  src/App.tsx
  src/Theme.tsx
  src/pages/Home/Home.tsx
Due: git add ., eslint --ext .tsx --fix

chore: added plop
  .eslintrc.json
  .lintstagedrc.json
  generators/plopfile.cjs
  generators/templates/component.tsx.hbs
  generators/templates/styles.ts.hbs
  generators/templates/test.tsx.hbs
  package-lock.json
  package.json
  tsconfig.json
Due: none

feat: added Categories and CategoryItem components
  src/components/Categories/Categories.styles.ts
  src/components/Categories/Categories.tsx
  src/components/CategoryItem/CategoryItem.styles.ts
  src/components/CategoryItem/CategoryItem.tsx
  src/pages/Home/Home.tsx
  src/types/categories.types.ts
  src/utils/env.config.ts
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

style: added new colors to Theme
  src/Theme.tsx
Due: git add ., eslint --ext .tsx --fix

refactor: refactored Categories styles
  src/components/Categories/Categories.styles.ts
Due: eslint --ext .ts --fix, git add .

feat: added Login page
  src/App.tsx
  src/components/Navigation/Navigation.tsx
  src/pages/Login/Login.styles.ts
  src/pages/Login/Login.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

feat: added Button component
  src/components/Button/Button.styles.ts
  src/components/Button/Button.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

refactor: changed padding on Button component
  src/components/Button/Button.styles.ts
Due: eslint --ext .ts --fix, git add .

feat: added Input component
  .eslintrc.json
  src/components/Input/Input.styles.ts
  src/components/Input/Input.tsx
  src/pages/Login/Login.styles.ts
  src/pages/Login/Login.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

fix: fixed login route
  src/App.tsx
  src/components/Navigation/Navigation.tsx
Due: git add ., eslint --ext .tsx --fix

refactor: changed prop types from Button alongside Login Input
  src/components/Button/Button.tsx
  src/pages/Login/Login.styles.ts
  src/pages/Login/Login.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

chore: added React Hook Form
  package-lock.json
  package.json
Due: none

feat: added React Hook Form to Login form alongside error handling
  .eslintrc.json
  src/components/Input/Input.tsx
  src/pages/Login/Login.styles.ts
  src/pages/Login/Login.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

chore: added yup
  package-lock.json
  package.json
Due: none

refactor: changed Button and Input names
  src/components/Button/Button.styles.ts
  src/components/Button/Button.tsx
  src/components/Input/Input.styles.ts
  src/components/Input/Input.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

refactor: changed route name from Login to SignIn alongside form validation
  src/pages/SignIn/SignIn.styles.ts
  src/pages/SignIn/SignIn.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

feat: added SignUp route
  src/App.tsx
  src/components/Navigation/Navigation.tsx
  src/pages/SignUp/SignUp.tsx
Due: git add ., eslint --ext .tsx --fix

chore: added firebase config
  package-lock.json
  package.json
  src/utils/firebase.config.ts
Due: eslint --ext .ts --fix, git add .

feat: added categories script
  src/utils/firebase.script.js
Due: none

chore: added firestore converter
  src/firebase/firebase.config.ts
  src/firebase/firebase.script.js
  src/firebase/firestore.converters.ts
Due: eslint --ext .ts --fix, git add .

refactor: added firestore integration to fetch data
  src/components/Categories/Categories.tsx
  src/components/CategoryItem/CategoryItem.tsx
  src/types/categories.types.ts
  src/types/product.types.ts
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

chore: added firebase auth
  src/firebase/firebase.config.ts
Due: eslint --ext .ts --fix, git add .

feat: added account creation
  src/components/Button/Button.styles.ts
  src/components/Navigation/Navigation.styles.ts
  src/pages/SignUp/SignUp.tsx
  src/types/user.types.ts
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

feat: handling email in use error
  src/pages/SignUp/SignUp.tsx
Due: git add ., eslint --ext .tsx --fix

feat: added user type provider
  src/pages/SignUp/SignUp.tsx
  src/types/user.types.ts
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

feat: added login with Google and email and password
  src/App.tsx
  src/components/Navigation/Navigation.styles.ts
  src/components/Navigation/Navigation.tsx
  src/firebase/firebase.config.ts
  src/pages/SignIn/SignIn.tsx
Due: eslint --ext .ts --fix, git add ., eslint --ext .tsx --fix

chore: changed test template
  generators/templates/test.tsx.hbs
Due: none

feat: added UserContext alongside useUserContext hook
  src/context/UserContext.tsx
  src/hooks/useUserContext.tsx
Due: git add ., eslint --ext .tsx --fix

refactor: removed unnecessary logs
  src/components/Categories/Categories.tsx
Due: git add ., eslint --ext .tsx --fix

feat: added UserContext update state on auth state change
  src/App.tsx
  src/main.tsx
Due: git add ., eslint --ext .tsx --fix

feat: added dynamic nav links relying on user state
  src/components/Navigation/Navigation.tsx
Due: git add ., eslint --ext .tsx --fix

feat: added redirect to home for logged users
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
Due: git add ., eslint --ext .tsx --fix
