Repository joao-vitor-felix/club-clothing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts --fix, eslint --ext .tsx --fix

.lintstagedrc.json:

{
    "*.ts": ["eslint --ext .ts --fix"],
    "*.tsx": ["eslint --ext .tsx --fix"]
}

refactor: added logoutUser on logout button
  src/components/Navigation/Navigation.tsx
Due: eslint --ext .tsx --fix

refactor: added onAuthStateChanged inside useEffect
  src/App.tsx
Due: eslint --ext .tsx --fix

chore: changed folder name from context to contexts
  src/contexts/UserContext.tsx
  src/hooks/useUserContext.tsx
  src/main.tsx
Due: eslint --ext .tsx --fix

feat: added useDocumentTitle hook
  src/hooks/useDocumentTitle.ts
  src/pages/Home/Home.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added user converter
  src/App.tsx
  src/firebase/firestore.converters.ts
  src/types/user.types.ts
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added User context hook
  src/hooks/useUserContext.ts
Due: eslint --ext .ts --fix

feat: added Category context
  src/contexts/CategoryContext.tsx
  src/hooks/useCategoryContext.ts
  src/main.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

chore: added react spinners
  package-lock.json
  package.json
Due: none

feat: added Loading component
  src/components/Categories/Categories.tsx
  src/components/Loading/Loading.styles.ts
  src/components/Loading/Loading.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added Loading component to SignIn and SignUp pages
  src/components/Button/Button.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
Due: eslint --ext .tsx --fix

feat: added Shop page
  src/App.tsx
  src/pages/Shop/Shop.tsx
Due: eslint --ext .tsx --fix

feat: added CategoriesOverview and CategoryOverview components
  src/components/CategoriesOverview/CategoriesOverview.styles.ts
  src/components/CategoriesOverview/CategoriesOverview.tsx
  src/components/CategoryOverview/CategoryOverview.styles.ts
  src/components/CategoryOverview/CategoryOverview.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added ProductItem component
  src/components/ProductItem/ProductItem.styles.ts
  src/components/ProductItem/ProductItem.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added Shop link to Navigation
  src/components/Navigation/Navigation.tsx
Due: eslint --ext .tsx --fix

feat: added CategoryDetails component alongside Category page
  src/components/CategoryDetails/CategoryDetails.styles.ts
  src/components/CategoryDetails/CategoryDetails.tsx
  src/pages/Category/Category.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

refactor: added dynamic route to Category page
  src/App.tsx
  src/components/CategoryItem/CategoryItem.tsx
  src/components/CategoryOverview/CategoryOverview.styles.ts
  src/components/CategoryOverview/CategoryOverview.tsx
  src/pages/Shop/Shop.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

style: removed console logs
  src/components/CategoriesOverview/CategoriesOverview.tsx
  src/contexts/CategoryContext.tsx
Due: eslint --ext .tsx --fix

feat: added Button component into ProductItem
  src/components/ProductItem/ProductItem.styles.ts
  src/components/ProductItem/ProductItem.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

refactor: changed CategoriesOverview and CategoryOverview to CategoriesPreview and CategoryPreview
  src/components/Categories/Categories.tsx
  src/components/Categories/components/CategoryItem/CategoryItem.styles.ts
  src/components/Categories/components/CategoryItem/CategoryItem.tsx
  src/components/CategoriesPreview/CategoriesPreview.styles.ts
  src/components/CategoriesPreview/CategoriesPreview.tsx
  src/components/CategoriesPreview/components/CategoryPreview/CategoryPreview.styles.ts
  src/components/CategoriesPreview/components/CategoryPreview/CategoryPreview.tsx
  src/pages/Shop/Shop.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added Cart Context
  src/contexts/CartContext.tsx
  src/hooks/useCartContext.ts
  src/main.tsx
  src/types/cart.type.ts
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

refactor: changed function clearFromCart
  src/contexts/CartContext.tsx
Due: eslint --ext .tsx --fix

feat: added Cart component
  src/components/Cart/Cart.styles.ts
  src/components/Cart/Cart.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added CartItem component
  src/components/Cart/components/CartItem/CartItem.styles.ts
  src/components/Cart/components/CartItem/CartItem.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added functionality to open cart when clicked on the cart icon
  src/components/Navigation/Navigation.styles.ts
  src/components/Navigation/Navigation.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added add product to cart functionality
  src/components/ProductItem/ProductItem.styles.ts
  src/components/ProductItem/ProductItem.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

refactor: destructuring category on CategoryItem
  src/components/Categories/components/CategoryItem/CategoryItem.tsx
Due: eslint --ext .tsx --fix

refactor: added PayButton component into Cart component
  src/components/Cart/Cart.styles.ts
  src/components/Cart/Cart.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added Checkout page alongside CheckoutItem component
  src/App.tsx
  src/components/Cart/Cart.tsx
  src/components/Cart/components/CartItem/CartItem.styles.ts
  src/components/CheckoutItem/CheckoutItem.styles.ts
  src/components/CheckoutItem/CheckoutItem.tsx
  src/pages/Checkout/Checkout.styles.ts
  src/pages/Checkout/Checkout.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added local storage to the cart from CartContext
  src/contexts/CartContext.tsx
Due: eslint --ext .tsx --fix

fix: fixed image width from CartItem
  src/components/Cart/components/CartItem/CartItem.styles.ts
Due: eslint --ext .ts --fix

refactor: refactored functions inside CartContext
  src/contexts/CartContext.tsx
Due: eslint --ext .tsx --fix

refactor: refactored Cart component
  src/components/Cart/Cart.styles.ts
  src/components/Cart/Cart.tsx
  src/components/Navigation/Navigation.tsx
  src/types/cart.type.ts
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

refactor: changed some inside ProductItem styles
  src/components/ProductItem/ProductItem.styles.ts
Due: eslint --ext .ts --fix

feat: added message based on cart length inside Checkout page
  src/pages/Checkout/Checkout.styles.ts
  src/pages/Checkout/Checkout.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

refactor: changed component import name inside Shop
  src/pages/Shop/Shop.tsx
Due: eslint --ext .tsx --fix

fix: removed Loading when already has data inside Categories
  src/components/Categories/Categories.tsx
Due: eslint --ext .tsx --fix

feat: added stripe integration
  src/pages/Checkout/Checkout.tsx
Due: eslint --ext .tsx --fix

feat: added ProtectedRoute component
  package-lock.json
  package.json
  src/App.tsx
  src/GlobalStyles.ts
  src/components/ProtectedRoute/ProtectedRoute.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

fix: fixed styled components error due props being passed to the DOM inside many components
  src/components/Cart/Cart.styles.ts
  src/components/Cart/Cart.tsx
  src/components/Input/Input.tsx
  src/components/ProductItem/ProductItem.styles.ts
  src/components/ProductItem/ProductItem.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix

feat: added PaymentConfirmation page
  src/App.tsx
  src/contexts/CartContext.tsx
  src/pages/PaymentConfirmation/PaymentConfirmation.styles.ts
  src/pages/PaymentConfirmation/PaymentConfirmation.tsx
Due: eslint --ext .ts --fix, eslint --ext .tsx --fix
