Repository joao-vitor-felix/club-clothing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

.lintstagedrc.json:

{
    "*.ts": ["eslint --ext .ts --fix", "npx prettier --write"],
    "*.tsx": ["eslint --ext .tsx --fix", "npx prettier --write"]
}

chore: changes into lint staged config
  .lintstagedrc.json
Due: none

fix: fixed React error due wrong call inside ProtectedRoute
  src/components/ProtectedRoute/ProtectedRoute.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

chore: added redux setup
  package-lock.json
  package.json
  src/main.tsx
  src/store/root-reducer.ts
  src/store/store.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

chore: added redux-logger
  package-lock.json
  package.json
  src/store/store.ts
Due: eslint --ext .ts --fix, npx prettier --write

feat: added userReducer
  src/App.tsx
  src/contexts/UserContext.tsx
  src/hooks/useUserContext.ts
  src/main.tsx
  src/store/root-reducer.ts
  src/store/user/user.actions.ts
  src/store/user/user.reducer.ts
  src/store/user/user.types.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

feat: added useUserReducer and useAppSelector hooks
  src/hooks/useAppSelector.ts
  src/hooks/useUserReducer.ts
Due: eslint --ext .ts --fix, npx prettier --write

refactor: refactored few components in order to use useUserReducer hook
  src/components/Navigation/Navigation.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

refactor: make use of useUsercontext inside ProtectedRoute
  src/components/ProtectedRoute/ProtectedRoute.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

refactor: change name of the initial state to match a const variable inside User Reducer
  src/store/user/user.reducer.ts
Due: eslint --ext .ts --fix, npx prettier --write

feat: added Cart Reducer
  src/components/Cart/Cart.tsx
  src/components/Cart/components/CartItem/CartItem.tsx
  src/components/CheckoutItem/CheckoutItem.tsx
  src/components/Navigation/Navigation.tsx
  src/components/ProductItem/ProductItem.tsx
  src/hooks/useCartReducer.ts
  src/pages/Checkout/Checkout.tsx
  src/pages/PaymentConfirmation/PaymentConfirmation.tsx
  src/store/cart/cart.actions.ts
  src/store/cart/cart.reducer.ts
  src/store/cart/cart.selectors.ts
  src/store/cart/cart.types.ts
  src/store/root-reducer.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

chore: added redux persist
  package-lock.json
  package.json
Due: none

feat: added redux persist to Cart Reducer
  src/hooks/useCartReducer.ts
  src/hooks/useUserReducer.ts
  src/main.tsx
  src/store/cart/cart.selectors.ts
  src/store/root-reducer.ts
  src/store/store.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

chore: added reselect
  package-lock.json
  package.json
Due: none

refactor: added cart selectors using reselect
  src/components/Cart/Cart.tsx
  src/components/Cart/components/CartItem/CartItem.tsx
  src/components/CheckoutItem/CheckoutItem.tsx
  src/components/Navigation/Navigation.tsx
  src/components/ProductItem/ProductItem.tsx
  src/hooks/useCartReducer.ts
  src/pages/Checkout/Checkout.tsx
  src/store/cart/cart.reducer.ts
  src/store/cart/cart.selectors.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

refactor: added user selectors using reselect
  src/components/Navigation/Navigation.tsx
  src/components/ProtectedRoute/ProtectedRoute.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/store/user/user.reducer.ts
  src/store/user/user.selectors.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

chore: added redux thunk
  package-lock.json
  package.json
Due: none

fix: fixed toggleCart inside Cart
  src/components/Cart/Cart.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

feat: added Categories Reducer
  src/components/Categories/Categories.tsx
  src/components/CategoriesPreview/CategoriesPreview.tsx
  src/contexts/CartContext.tsx
  src/contexts/CategoryContext.tsx
  src/hooks/useUserReducer.ts
  src/main.tsx
  src/store/categories/categories.actions.ts
  src/store/categories/categories.reducer.ts
  src/store/categories/categories.selectors.ts
  src/store/categories/categories.types.ts
  src/store/root-reducer.ts
  src/store/store.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

feat: added redux toolkit alongside user slice
  package-lock.json
  package.json
  src/App.tsx
  src/components/Navigation/Navigation.tsx
  src/store/root-reducer.ts
  src/store/store.ts
  src/store/user/user.actions.ts
  src/store/user/user.reducer.ts
  src/store/user/user.selectors.ts
  src/store/user/user.slice.ts
  src/store/user/user.types.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

feat: added cart slice
  src/components/Cart/Cart.tsx
  src/components/Cart/components/CartItem/CartItem.tsx
  src/components/CheckoutItem/CheckoutItem.tsx
  src/components/Navigation/Navigation.tsx
  src/components/ProductItem/ProductItem.tsx
  src/pages/PaymentConfirmation/PaymentConfirmation.tsx
  src/store/cart/cart.actions.ts
  src/store/cart/cart.reducer.ts
  src/store/cart/cart.selectors.ts
  src/store/cart/cart.slice.ts
  src/store/cart/cart.types.ts
  src/store/root-reducer.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

feat: added categories slice
  src/components/Categories/Categories.tsx
  src/components/CategoriesPreview/CategoriesPreview.tsx
  src/store/categories/categories.slice.ts
  src/store/root-reducer.ts
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

chore: added jest and babel setup
  .jest/__mocks__/fileMock.ts
  .jest/setup-tests.ts
  .lintstagedrc.json
  babel.config.json
  jest.config.json
  package-lock.json
  package.json
Due: eslint --ext .ts --fix, npx prettier --write

chore: added type to theme inside GlobalStyles
  src/GlobalStyles.ts
  src/Theme.tsx
Due: eslint --ext .ts --fix, npx prettier --write, eslint --ext .tsx --fix

chore: added ts-jest
  .lintstagedrc.json
  babel.config.json
  jest.config.json
  package-lock.json
  package.json
Due: none

style: fixed styled imports
  src/components/Cart/components/CartItem/CartItem.styles.ts
  src/components/Navigation/Navigation.styles.ts
  src/pages/Checkout/Checkout.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write

style: changed prop name in order to fix styled-components requirements
  src/components/Input/Input.styles.ts
Due: eslint --ext .ts --fix, npx prettier --write

feat: added renderWithRedux function
  src/utils/test.helper.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

style: removed unused variables and imports
  src/components/Cart/components/CartItem/CartItem.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added tests to Navigation
  src/components/Navigation/Navigation.test.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

feat: added aria label to CartItem buttons
  src/components/Cart/components/CartItem/CartItem.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

refactor: changes to test helper function
  src/utils/test.helper.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added tests to Cart
  src/components/Cart/Cart.test.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added tests to CartItem
  src/components/Cart/components/CartItem/CartItem.test.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added tests to CategoryItem
  src/components/Categories/components/CategoryItem/CategoryItem.test.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added tests to Input
  src/components/Input/Input.test.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

refactor: changed cart empty message
  src/components/Cart/Cart.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

feat: added aria-label to cart icon on Navigation
  src/components/Navigation/Navigation.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added test to ProductItem
  src/components/ProductItem/ProductItem.test.tsx
  src/components/ProductItem/ProductItem.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

test: added test to CategoryPreview
  src/components/CategoriesPreview/components/CategoryPreview/CategoryPreview.test.tsx
Due: npx prettier --write, eslint --ext .tsx --fix

chore: turned off typescript eslint rule
  .eslintrc.json
Due: none
